<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">Merlin Solar</a>
                    <ul class="nav navbar-nav">
                        <li class="inactive"><a href="/dashboard">Dashboard</a></li>
                        <li class="dropdown"> <a href="/orders" class="dropdown-toggle" data-toggle="dropdown" role="button">Orders <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/orders/cells">Cells</a></li>
                                <li><a href="/orders/strings">Strings</a></li>
                                <li><a href="/orders/modules">Modules</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/orders">Orders</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"> <a href="/cell-lots" class="dropdown-toggle" data-toggle="dropdown" role="button">Attach <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/attach/new-lot">New Cell Lot</a></li>
                                <li><a href="/attach/load">Load Materials</a></li>
                                <li><a href="attach/maintenance">Log Maintenance</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="attach/cell-lots">Cell Lots</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">QC <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/QC/cells">QC Cell Lot</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/QC/cell-lots">Cell Lots</a></li>
                            </ul>
                        </li>
                        <li>
                            {{> loginButtons}}
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <form class="new-lot">
            <input type="text" name="lotID" placeholder="Lot ID">
            <input type="text" name="count" placeholder="Count">
            <input type="text" name="cellType" placeholder="Cell Type">
            <input type="submit" value="Submit">
        </form>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <td><input type="checkbox" name="all-selected"></td>
                        <th>Lot #</th>
                        <th>Count</th>
                        <th>Type</th>
                        <th>Date</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each lots}} {{> lot}} {{/each}}
                </tbody>
            </table>
        </div>


    </div>

</body>

<template name="lot">
    <tr>
        <td><input type="checkbox" name="selected"></td>
        <td>{{lotID}}</td>
        <td>{{count}}</td>
        <td>{{cellType}}</td>
        <td>{{createdAt}}</td>
    </tr>
</template>
