<template name="CellOrderDetailLayout">

    <h2>Cell Order #{{cellOrder.orderID}}</h2>

    <hr>

    <div class="container-fluid">
        <div class="well">


            <div class="row">
                <div class="col-sm-2 text-right"><strong>Completed</strong></div>
                <div class="col-sm-8 text-left">{{cellOrder.completedCount}}</div>
            </div>

            <div class="row">
                <div class="col-sm-2 text-right"><strong>Ordered</strong></div>
                <div class="col-sm-8 text-left">{{cellOrder.cellCount}}</div>
            </div>

            <div class="row">
                <div class="col-sm-2 text-right"><strong>Status</strong></div>
                <div class="col-sm-8 text-left">{{cellOrder.status}}</div>
            </div>

            <hr>

            <div class="row">
                <div class="col-sm-2 text-right"><strong>Project</strong></div>
                <div class="col-sm-8 text-left">{{cellOrder.project}}</div>
            </div>

            <div class="row">
                <div class="col-sm-2 text-right"><strong>For</strong></div>
                <div class="col-sm-8 text-left">{{cellOrder.orderType}}</div>
            </div>

            <div class="row">
                <div class="col-sm-2 text-right"><strong>Cell Type</strong></div>
                <div class="col-sm-8 text-left">{{cellOrder.cellType}}</div>
            </div>

            <div class="row">
                <div class="col-sm-2 text-right"><strong>Min Efficiency</strong></div>
                <div class="col-sm-8 text-left">{{cellOrder.minEfficiency}}</div>
            </div>

            <div class="row">
                <div class="col-sm-2 text-right"><strong>Max Efficiency</strong></div>
                <div class="col-sm-8 text-left">{{cellOrder.maxEfficiency}}</div>
            </div>

            <div class="row">
                <div class="col-sm-2 text-right"><strong>Ordered By</strong></div>
                <div class="col-sm-8 text-left">{{cellOrder.by}}</div>
            </div>

            <div class="row">
                <div class="col-sm-2 text-right"><strong>Order Date</strong></div>
                <div class="col-sm-8 text-left">{{formatDate (cellOrder.createdAt)}}</div>
            </div>



            <div class="row">
                <div class="col-sm-2 text-right"><strong>Comment</strong></div>
                <div class="col-sm-8 text-left">{{cellOrder.comment}}</div>
            </div>

            <!--- BUTTONS -->
            <hr>
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8 text-left">
                    {{#if isEqual cellOrder.status 'OPEN'}}
                    <button type="submit" id='cancel-order' class="btn btn-danger" value="Order">Cancel Order</button>
                    {{else}}
                    <button type="submit" id='cancel-order' class="btn btn-danger" disabled="disabled" value="Order">Cancel Order</button>
                    {{/if}}
                </div>
            </div>

        </div>
    </div>


</template>
