<template name="CellOrderDetailLayout">

    <h2>Cell Order </h2>

    <hr>

    <div class="container-fluid">
        <div class="well">
        <div class="row">
            <div class="col-sm-2 text-right"><strong>Project</strong></div>
            <div class="col-sm-8 text-left">project.name</div>
        </div>

        <div class="row">
            <div class="col-sm-2 text-right"><strong>Cell Type</strong></div>
            <div class="col-sm-8 text-left">waferType.type</div>
        </div>

        <div class="row">
            <div class="col-sm-2 text-right"><strong>Min Efficiency</strong></div>
            <div class="col-sm-8 text-left">Min Efficiency</div>
        </div>

        <div class="row">
            <div class="col-sm-2 text-right"><strong>Max Efficiency</strong></div>
            <div class="col-sm-8 text-left">Max Efficiency</div>
        </div>

        <div class="row">
            <div class="col-sm-2 text-right"><strong>Quantity</strong></div>
            <div class="col-sm-8 text-left">Quantity</div>
        </div>
        <div class="row">
            <div class="col-sm-2 text-right"><strong>Comment</strong></div>
            <div class="col-sm-8 text-left">Comment</div>
        </div>

        <div class="row">
            <div class="col-sm-offset-2 col-sm-8 text-left">
                <button type="submit" class="btn btn-danger" value="Order">Cancel Order</button>
            </div>
        </div>

    </div>
    </div>


</template>
