<template name="CellLotsLayout">
    <h1>Cell Lots</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <td><input type="checkbox" name="all-selected"></td>
                    <th>Lot #</th>
                    <th>Cell Type</th>
                    <th>Order</th>
                    <th>Recipe</th>
                    <th>Lot Type</th>
                    <th>Date</th>
                    <th>Wafers In</th>
                    <th>Cells Out</th>
                    <th>Camera Rejects</th>
                    <th>Operator Rejects</th>
                    <th>Comment</th>
                </tr>
            </thead>

            <tbody>
                {{#each lots}}
                {{> CellLot}}
                {{/each}}
            </tbody>
        </table>
    </div>

</template>
