<template name="CellLotsLayout">
    <h1>Cell Lots</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <td><input type="checkbox" name="all-selected"></td>
                    <th>Lot #</th>
                    <th>Count</th>
                    <th>Type</th>
                    <th>Date</th>
                </tr>
            </thead>

            <tbody>
                {{#each lots}}
                {{> CellLot}}
                {{/each}}
            </tbody>
        </table>
    </div>

</template>
