<template name="CellLot">
    <tr>
        <td><a href="/attach/cell-lots/{{_id}}">{{lotID}}</a></td>
        <td>{{cellType}}</td>
        <td>{{order}}</td>
        <td>{{by}}</td>
        <td>{{recipe}}</td>
        <td>{{lotType}}</td>
        <td>{{formatDate (createdAt) }}</td>
        <td>{{waferCount}}</td>
        <td>{{cellCount}}</td>
        <td>{{cameraRejects}}</td>
        <td>{{operatorRejects}}</td>
        <td>{{#if isEmpty (lotComment) }}
            {{else}}
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            {{/if}}
        </td>
    </tr>
</template>
