<template name="NewCellLotLayout">
    <h2>New Lot</h2>
    <hr>

    <div class="container-fluid">
        <form class="form-horizontal" id="new-cell-lot">


            <div class="form-group">
                <label for="order" class="col-sm-2 text-right">Order</label>



                <div class="col-sm-8">
                    <select class="form-control" name="minEfficiency">
                        {{#each order in cellOrders}}
                        <option>{{order.orderID}}</option>
                        {{/each}}
                    </select>
                </div>


                <!--<div class="col-sm-8">
                    <input type="text" class="form-control" name="order" placeholder="Order">
                </div>
            -->
            </div>

            <div class="form-group">
                <label for="cellType" class="col-sm-2 text-right">Cell Type</label>
                <div class="col-sm-8">
                    <p class="form-control-static">Informational cell type, and efficiencies here</p>
                    <!-- <input type="text" class="form-control" name="cellType" placeholder="Cell Type"> -->
                </div>
            </div>

            <div class="form-group">
                <label for="recipe" class="col-sm-2 text-right">Recipe</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="recipe" placeholder="Recipe">
                </div>
            </div>

            <div class="form-group">
                <label for="gridCount" class="col-sm-2 text-right">Grids In</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="gridCount" placeholder="Grids In">
                </div>
            </div>
            <div class="form-group">
                <label for="waferCount" class="col-sm-2 text-right">Wafers In</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="waferCount" placeholder="Wafers In">
                </div>
            </div>
            <div class="form-group">
                <label for="meshCount" class="col-sm-2 text-right">Meshes In</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="meshCount" placeholder="Meshes In">
                </div>
            </div>

            <div class="form-group">
                <label for="cellCount" class="col-sm-2 text-right">Cells Out</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="cellCount" placeholder="Cells Out">
                </div>
            </div>

            <div class="form-group">
                <label for="cameraRejects" class="col-sm-2 text-right">Camera Rejects</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="cameraRejects" placeholder="Camera Rejects">
                </div>
            </div>

            <div class="form-group">
                <label for="operatorRejects" class="col-sm-2 text-right">Operator Rejects</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="operatorRejects" placeholder="Operator Rejects">
                </div>
            </div>

            <div class="form-group">
                <label for="lotComment" class="col-sm-2 text-right">Comment</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="lotComment" placeholder="Comment">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary" value="Create">Save Lot</button>
                </div>
            </div>


        </form>
    </div>
</template>
