<template name="NewCellLotLayout">
    <h1>New Lot</h1>
    <form class="new-lot">
        <input type="text" name="lotID" placeholder="Lot ID">
        <input type="text" name="cellType" placeholder="Cell Type">
        <input type="text" name="order" placeholder="Order">
        <input type="text" name="recipe" placeholder="Recipe">

        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> MANUFACTURING
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option2" autocomplete="off"> ENGINEERING
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option3" autocomplete="off"> PROCESS
            </label>
        </div>

        <input type="text" name="gridCount" placeholder="Grids">
        <input type="text" name="waferCount" placeholder="Wafers">
        <input type="text" name="meshCount" placeholder="Meshes">
        <input type="text" name="cellCount" placeholder="Cells Out">
        <input type="text" name="cameraRejects" placeholder="Camera Rejects">
        <input type="text" name="operatorRejects" placeholder="Operator Rejects">

        <textarea name="lotComment" rows="2" cols="50" placeholder="Comments"></textarea>



        <input type="submit" value="Create">
    </form>
</template>
