<template name="OrderListLayout">

    <h2>Orders</h2>

    <label class="show-open-orders">
        <input type="checkbox" />
        Show Open Orders
    </label>

    <hr>

    <form class="order-cells">

        <input type="text" name="cellType" placeholder="Cell Type">
        <input type="text" name="project" placeholder="Project">
        <input type="text" name="cellCount" placeholder="Quantity">
        <input type="text" name="comment" placeholder="Comment">
        <input type="submit" value="Order">
    </form>

    <hr>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Order #</th>
                    <th>Cell Type</th>
                    <th>Project</th>
                    <th>Ordered</th>
                    <th>Completed</th>
                    <th>Ordered By</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></th>
                    <th><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></th>
                    <th>Comment</th>
                </tr>
            </thead>

            <tbody>
                {{#each cellOrders}}
                {{> CellOrder}}
                {{/each}}
            </tbody>
        </table>
    </div>

</template>
