<template name="OrderCellsLayout">

    <h2>Order Cells </h2>

    <hr>

    <div class="container-fluid">

        <form class="form-horizontal" id="order-cells">
            <!-- <input type="text" name="cellType" placeholder="Cell Type"> -->

            <div class="form-group">
                <label class="col-sm-2 text-right">For</label>
                <div class="btn-group col-sm-8" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="radio" name="orderType" id="MANUFACTURING" value="Mfg" autocomplete="off" checked> MANUFACTURING
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="orderType" id="ENGINEERING" value="Eng" autocomplete="off"> ENGINEERING
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="orderType" id="PROCESS" value="PDev" autocomplete="off"> PROCESS DEV
                    </label>
                </div>

            </div>

            <div class="form-group">
                <label for="project" class="col-sm-2 text-right">Project</label>
                <div class="col-sm-8">
                    <select class="form-control" name="project">
                        {{#each project in projects}}
                        <option>{{project.name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="cellType" class="col-sm-2 text-right">Cell Type</label>
                <div class="col-sm-8">
                    <select class="form-control" name="cellType">
                        {{#each waferType in waferTypes}}
                        <option>{{waferType.type}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="minEfficiency" class="col-sm-2 text-right">Min Efficiency</label>
                <div class="col-sm-8">
                    <select class="form-control" name="minEfficiency">
                        {{#each efficiency in efficiencies}}
                        <option>{{efficiency.value}}</option>
                        {{/each}}
                    </select>
                </div>

            </div>
            <div class="form-group">
                <label for="maxEfficiency" class="col-sm-2 text-right">Max Efficiency</label>
                <div class="col-sm-8">
                    <select class="form-control" name="maxEfficiency">
                        {{#each efficiency in efficiencies}}
                        <option>{{efficiency.value}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="cellCount" class="col-sm-2 text-right">Quantity</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="cellCount" placeholder="Number of cells">
                </div>
            </div>

            <div class="form-group">
                <label for="comment" class="col-sm-2 text-right">Comment</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="comment" placeholder="Comment">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary" value="Order">Place Order</button>
                </div>
            </div>
        </form>

    </div>


</template>
