<template name="OrderListLayout">

    <h2>Orders: {{openCount}}</h2>

    <label class="show-open-orders">
        <input type="checkbox" checked="true"/>
        Show Open Orders
    </label>

    <hr>

    <form class="order-cells">
        <!-- <input type="text" name="cellType" placeholder="Cell Type"> -->
        <select class="form-control" name="project">
            {{#each project in projects}}
            <option>{{project.name}}</option>
            {{/each}}
        </select>

        <select class="form-control" name="cellType">
            {{#each waferType in waferTypes}}
            <option>{{waferType.type}}</option>
            {{/each}}
        </select>

        <select class="form-control" name="minEfficiency">
            {{#each efficiency in efficiencies}}
            <option>{{efficiency.value}}</option>
            {{/each}}
        </select>


        <select class="form-control" name="maxEfficiency">
            {{#each efficiency in efficiencies}}
            <option>{{efficiency.value}}</option>
            {{/each}}
        </select>
        <input type="text" name="cellCount" placeholder="Quantity">
        <input type="text" name="comment" placeholder="Comment">
        <input type="submit" value="Order">
    </form>


    <hr>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Order #</th>
                    <th>Project</th>
                    <th>Cell Type</th>
                    <th>Ordered</th>
                    <th>Completed</th>
                    <th>Ordered By</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Attach</th>
                    <th>Comment</th>
                    <!-- <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> -->
                </tr>
            </thead>

            <tbody>
                {{#each cellOrders}}
                {{> CellOrder}}
                {{/each}}
            </tbody>
        </table>
    </div>

</template>
